{% extends "base.html" %}
	
	{% block content %}
	<section class="add-form">
		<div class="container">
			<h2 class="title-add">Add a new ad (or editing)</h2>
			<div class="add-form__body">
				<form action="{% if for_create %}{% url 'add_ad' %}{% else %}{% url 'ad_change' object.pk %}{% endif %}" method="POST" class="add-form__form" enctype="multipart/form-data">
					{% csrf_token %}

					{{ form.errors }}

					<div class="add-title">
						<label for="{{ form.title.id_for_label }}">Enter title:</label>
						{{ form.title }}
					</div>
					<div class="add-category">
						<label for="{{ form.category.id_for_label }}">Category:</label>
						{{ form.category }}
					</div>
					<div class="add-subcategory">
						<label for="{{ form.subcategory.id_for_label }}">Subcategory:</label>
						{{ form.subcategory }}
					</div>
					<div class="add-price">
						<label for="{{ form.price.id_for_label }}">Enter price:</label>
						{{ form.price }}
						<p class="value__price">$</p>
					</div>
					<div class="add-description">
						<label for="{{ form.description.id_for_label }}">Description:</label>
						{{ form.description }}
					</div>
					<div class="add-image">
						<label for="">Images:</label>
						<input type="file" name="images" multiple>
					</div>
					<div class="add-publish">
						<label for="#" style="visibility: hidden;">Submit</label>
						<input type="submit" class="publishBtn" value="Publish">
					</div>
				</form>
			</div>
		</div>
	</section>

	<script type="text/javascript"> 

		let subcategoryChoice = document.querySelector('#id_subcategory');
		subcategoryChoice.innerHTML = "";

		let categorySelect = document.querySelector('#id_category');
		categorySelect.addEventListener('change', getSubcategories);

		async function getSubcategories() {
			subcategoryChoice.innerHTML = "";
			
			let subcategories = await fetch('/c-s/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({'categoryId': categorySelect.selectedIndex})
			});

			let data = await subcategories.json();
			console.log(data);

			for (let subcategory of data.subcategories) {
				let el = document.createElement('option');
				el.value = subcategory.id;
				el.innerHTML = "Subcategory " + subcategory.title + " of " + categorySelect.options[categorySelect.selectedIndex].text;
				subcategoryChoice.append(el);
			}
		}

	</script>
	{% endblock %}
